@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css?family=Monda&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  background-color: #85DCB0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.display-3 {
  font-family: 'Playfair Display', serif;
}
.lead {
  font-family: 'Monda', sans-serif;
}
p {
  font-family: 'Monda', sans-serif;
}
CardText {
  font-family: 'Monda', sans-serif;
}
.text-center {
  font-family: 'Playfair Display', serif;
}
.mt-2 {
  font-family: 'Playfair Display', serif;
}